.textbody {
  font-family: Ubuntu;
  /* color: #dbdaca; */
  color: #b5b4a5;
  font-size: 20px;
  white-space: pre-line;
}

.textHeader {
  color: #b5b4a5;
  font-size: 40px;
  font-family: Ubuntu
}

.title {
  font-family: Silkscreen;
  font-size: 45px;
  color: #71c200;
  margin-top: 5%;
  text-decoration: underline 5px;
}
