
.homeHeading {
  font-family: var(--pageHeadingFont);
  color: var(--pageHeadingFont);
  font-size: 80px;
  margin-top: 5%;
  white-space: pre-line;
}

.homeContent {
  margin-top: 100px;
  font-family: var(--textFont);
  color: var(--textColor);
  font-size: 20px;
}

