
.nav-header {
  /* background-color: var(--backgroundColor); */
  max-height: 10%;
  background-color: var(--navBarBackgroundColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  border-bottom: 3px gray black;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: left;
}


.siteTitle {
  /* font-size: 50px; */
  font-size: calc(25px + 1vmin);
  font-family: var(--siteTitleFont);
  width: min(300px, 40%); 
  margin: 0;
  padding: 0;
  margin-left: 50px;
  /* justify-content: center; */
  align-self: center;
  color: var(--siteTitle);
  /* background-color: #FAA0A0; */
  
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  
  border-radius: 4%;

  text-decoration: none;
  
}

.siteTitle:hover {
  /* color: white; */
}

.verticalLine {
  height: 100%;
  margin-left: 35px;
  margin-right: 15px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
}


.navBar {
  /* margin-left: auto; */
  /* margin-right: 10px; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.navBarElement {
  display: inline-block;
  margin: 8px;
  text-align: center;

  /* width: 200px; */

  padding-left: 8px;
  padding-right: 8px;


  color: var(--navBarMenuColor);
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
  /* font-family: Karla;  */
  font-family: var(--siteTitleFont);
}


.navBarElement:nth-child(1) {
  color: #98be65;
  /* background-color: #F0DF78; */
}

.navBarElement:nth-child(2) {
  color: #ECBE7B;
  /* background-color: #C0D86D; */
}

.navBarElement:nth-child(3) {
  color: #c678dd;
  /* background-color: #9EC1CF; */
}

.navBarElement:nth-child(4) {
  color: #51afef;
  /* background-color: #CC99C9; */
}

.navBarElement:hover {
  font-family: Silkscreen;
  font-size: 15px;
}
