
.nav-header {
  background-color:#212020;
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.siteTitle {
  font-size: 70px;
  font-family: Silkscreen;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  justify-content: center;
  color: #71c200;
}

.navBar {
  justify-self: right; 
}

.navList {
  list-style: none; 
  margin: 0;
  padding: 0;

}

.navBar li {
  display: inline-block;
  margin:0px;
  padding:20px;
}

.navBar li a {
  color: #71c200;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  font-family: Silkscreen
}


