
:root {
  --titleColor: #71c200;
  --navBarMenuColor: white;
  --pageHeadingColor: black;
  --backgroundColor: white;
  --textColor: #171717;
  --lineColor: black;
  /* --navBarBackgroundColor: #3e4352; */
  --navBarBackgroundColor: #2b303d;
  

  /* Font */
  /* --siteTitleFont: "Silkscreen"; */

  --siteTitle: #FF8800;
  --siteTitleFont: "Silkscreen";
  --navBarFont: "Karla";
  --pageHeadingFont: "Karla";
  --textFont: "Inconsolata";
  --tocFont: "Karla";
}

html, body {
  margin: 0;
  padding: 0;
}





.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
  overflow-y: auto;
  min-width: 600px;
  /* width: 100%; */
}

.line {
  margin:0px;
  background-color: var(--lineColor);
}

.App-logo {
  height: 80px;
  pointer-events: none;
  justify-self: left;
  width: 120px;
  object-fit: cover;
  margin-left:20px;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Silkscreen';
  font-weight: 400;
  src: local('Silkscreen'), url(./assets/fonts/Silkscreen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: local('Ubuntu-medium'), url(./assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 500;
  src: lcoal('Inconsolata'), url(./assets/fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "FiraSans";
  font-weight: 400;
  src: lcoal('FiraSans'), url(./assets/fonts/FiraSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: "Karla";
  font-weight: 500;
  src: local("Karla"), url(./assets/fonts/Karla-Medium.ttf) format('truetype');
}
